/* NYPL HOMEPAGE COLOR PALETTE
 * ---------------------------
 * For reference, go to https://bitbucket.org/NYPL/dgx-ethyl-style-guide
 * and set up the Ethyl Style Guide application.
*/

$WHITE: #FFF;

/* NYPL Primary Red */
$PRIMARY_COLOR: #E32B31 !default;
/* Secondry Red Color */
$SECONDARY_RED_COLOR: #B80F15 !default;

$TERTIARY_BLUE_COLOR: #1B7FA7;
/* Coolgray*/
$COOLGRAY_COLOR: #A3A19E !default;

/* Reusable Utility Color Classes for Fonts/Background Color */

// Background Color Classes
.bgPrimaryLibraryRed {
	background-color: $PRIMARY_COLOR;
}

.bgSecondaryLibraryRed {
	background-color: $SECONDARY_RED_COLOR;
}
