
.bookList {
  .leftColumn {
    border: none;
  }

  &.homepageRow {
    background-color: #ff4f43;
    color: #FFFFFF;
    margin-bottom: 25px;

    h2 {
      color: #FFFFFF;
    }

    &__Content {
      color: #FFFFFF;
      margin-top: 20px;

      // Tablet Portrait
      @include layout-at(1, 768px) {
        @include float-span(1);

        margin-top: 0;

        .slick-slider {
          .slick-track {
            height: 245px;
          }

          .slick-book-item {
            margin-right: 20px;

            img {
              max-height: 216px;
            }
          }

          .slick-prev, .slick-next {
            top: 144px;
          }

          .slick-prev {
            left: -16%;
          }

          .slick-next {
            left: -8%;
          }
        }
      }
    }

    & .see-more-button {
      border: 2px solid #FFFFFF;
      color: #FFFFFF;
    }
  }
}
