// NOTE: Minimal overrides to left and right column only for this component
// Overrides hpRow style definitions.
.bookListRow {

  .leftColumn {
    // Only for this component do we override the border
    border: none;
    }

  .rightColumn {
    // Slick adds !important to the wrapper, hence the need for this rule
    margin-bottom: 30px;
    color: #FFFFFF;

    @include min-screen($tablet-portrait) {
      margin-top: 15px;
      margin-bottom: 10px;
    }

    @include min-screen($tablet-landscape) {
      margin-bottom: 30px;
    }

    @include min-screen($desktop) {
      margin-top: 30px;
    }
  }
}

// Namespacing at the component level, within the grid
.hpBookList {
  .slick {
    &-track {
      height: 350px;
    }

    &-slide {
      .book-cover {
        .itemOverlay {
          @include Kievit-Book;
          background-color: $PRIMARY_COLOR;
          bottom: -30px;
          font-weight: 400;
          height: 130px;

          .title {
            text-align: left;
            font-weight: 400;
          }

          .details {
            margin: 10px 0 5px;

            &-author {
              font-size: 16px;
              margin-bottom: 15px;
            }

            &-audience,
            &-genre {
              font-size: 12px;
              margin-bottom: 5px;
            }
          }
        }
        &:focus {
          outline: $focus-color solid 3px;
        }
      }
    }

    /* -- Tablet Portrait Layout --
     * NOTE: Made the whole right side one column and let the plugin/css
     * create the width of the carousel.
    */
    @include layout-at(6, $tablet-portrait) {
      @include grid-span(6);

      &-track {
        height: 300px;
      }

      &-slide {
        .book-cover {
          .itemOverlay {
            bottom: 0px;
            height: 140px;

            .title {
              font-weight: 400;
              font-size: 18px;
            }

            .details {
              &-author {
                font-size: 16px;
              }

              &-audience,
              &-genre {
                font-size: 12px;
              }
            }
          }
        }
      }

      &-book-item {
        margin-right: 20px;

        img {
          max-height: 216px;
        }
      }

      &-prev, &-next {
        top: 144px;
      }

      &-prev {
        left: -16%;
      }

      &-next {
        left: -9%;
      }
    }

    /* -- Tablet Landscape Layout -- */
    @include layout-at(8, $tablet-landscape) {
      @include grid-span(8);

      &-slide {
        .book-cover {
          .itemOverlay {
            bottom: -50px;

            .title {
              font-size: 20px;
            }
          }
        }
      }

      &-track {
        height: 330px;
      }

      &-book-item {
        margin-right: 33px;

        img {
          max-height: 289px;
        }
      }

      &-prev {
        left: -12%;
      }

      &-next {
        left: -6%;
      }
    }

    /* -- Tablet Landscape Layout -- */
    @include layout-at(8, $desktop) {
      &-track {
        height: 340px;
      }

       &-slide {
        .book-cover {
          .itemOverlay {
            bottom: -60px;

            .title {
              font-size: 22px;
            }
          }
        }
      }

      &-book-item {
        img {
          max-height: 360px;
        }
      }

      &-prev {
        left: -10%;
      }

      &-next {
        left: -6%;
      }
    }
  }
}
