.hpCarousel {
  position: relative;
  @extend %clearfix;
  margin: 0 0 25px 0;

  @include min-screen($tablet-portrait) {
    margin-bottom: 15px;
  }

  @include min-screen($desktop) {
    margin-bottom: 30px;
  }

  a {
    text-decoration: none;
  }

  &-image {
    display: block;
    width: 100%;
    height: 220px;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    background-color: #89806F;
    color: #000;

    @include min-screen(480px) {
      height: 330px;
    }

    @include min-screen(560px) {
      height: 390px;
    }

    @include min-screen($tablet-portrait) {
      height: 280px;
    }

    @include min-screen($desktop) {
      height: 400px;
    }
  }

  &-imageCaption {
    @include visuallyHidden;
  }

  &-buttonWrapper {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 180px;
    margin: 0 auto;
    z-index: 100;
    text-align: center;

    @include min-screen(480px) {
      top: 290px;
    }

    @include min-screen(560px) {
      top: 345px;
    }

    @include min-screen($tablet-portrait) {
      margin: 0;
      width: auto;
      right: inherit;
      top: 50px;
      left: 8px;
    }

    @include min-screen($tablet-portrait + 1px) {
      left: 15px;
    }

    @include min-screen($desktop) {
      width: 100%;
      max-width: 1313px;
      padding: 0;
      margin: 0 auto;
      text-align: left;
      left: 0;
      right: 0;
      top: inherit;
      bottom: 25px;
    }

    // React Tappable surrounding SPAN element
    & > span {
      display: inline-block;
      margin: 0 40px 0 0;
      padding: 0;

      &:last-child {
        margin-right: 0;
      }

      @include min-screen($tablet-portrait) {
        margin: 0 0 20px 0;
        display: block;

        &:last-child {
          margin-bottom: 0;
        }
      }

      @include min-screen($desktop) {
        display: inline-block;
        margin: 0 30px 0 0;
        padding: 0;

        &:last-child {
          margin-right: 0;
        }
        &:first-child {
          margin-left: 135px;
        }
      }
    }
  }

  &-navButton {
    @include Kievit-Book;
    cursor: pointer;
    outline : none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: rgba(255,255,255,0.8);
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: .05em;
    word-wrap: break-word;
    border: none;

    & > span {
      @include visuallyHidden;

      @include min-screen($tablet-portrait) {
        @include displayVisuallyHidden;
      }
    }

    .svgIcon {
      @include min-screen($tablet-portrait) {
        display: none;
      }
    }

    @include min-screen($tablet-portrait) {
      border-style: solid;
      border-color: transparent;
      border-width: 2px;
      width: auto;
      max-width: 110px;
      text-align: left;
      padding: 9px 8px 7px;
    }

    @include min-screen($desktop) {
      border-color: rgba(255,255,255,0.8) transparent transparent transparent;
      max-width: 110px;
    }

    &.active {
      @include min-screen($tablet-portrait) {
        border-color: #FFF;
        color: #FFF;
      }
    }
  }
  // /-navButton

  // Text Description Area
  &-textWrapper {
    max-width: 1313px;
    padding: 0 14px;
    margin: 15px auto 0px;
    display: block;

    a {
      display: block;
    }

    @include min-screen($tablet-portrait) {
      max-width: none;
      margin: 0;
      padding: 0;
      position: absolute;
      left: 157px;
      top: 65px;
      color: #FFF;
    }

    @include min-screen($tablet-landscape + 1px) {
      max-width: 1313px;
      width: 100%;
      margin: 0 auto;
      left: 10px;
      right: 0;
    }

    @include min-screen($desktop) {
      top: 60px;
      left: 0;
    }

    &-tag {
      @include Kievit-Medium;
      font-size: 14px;
      margin: 15px 0 0 0;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: #070707;

      @include min-screen($tablet-portrait) {
        color: #FFF;
        margin: 0;
      }

      @include min-screen($tablet-landscape + 1px) {
        margin-left: 145px;
      }
    }

    &-title {
      @include Milo-Regular;
      font-size: 27px;
      font-weight: 400;
      margin: 15px 0 0 0;
      color: #070707;

      @include min-screen($tablet-portrait) {
        color: #FFF;
        margin-top: 25px;
      }

      @include min-screen($tablet-landscape + 1px) {
        margin-left: 145px;
      }

      @include min-screen($desktop) {
        font-size: 36px;
        margin-top: 45px;
        max-width: 400px;
      }
    }

    &-description {
      @include min-screen($tablet-portrait) {
        max-width: 55%;
      }

      @include min-screen($tablet-landscape + 1px) {
        left: 145px;
        max-width: 40%;
      }

      @include visuallyHidden;
      @include Kievit-Book;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      margin: 20px 0 30px 0;
      color: #070707;

      @include min-screen($tablet-portrait) {
        @include displayVisuallyHidden;
        color: #FFF;
        width: auto; //Override displayVisuallyHidden width rule
        margin: 25px 20px 0 0;
      }

      @include min-screen($tablet-landscape + 1px) {
        margin-left: 145px;
      }

      @include min-screen($desktop) {
        margin-top: 30px;
        max-width: 400px;
      }
    }
  }
}
