/*
Set up grid
*/
@include add-grid(3);

.CarouselComponent {
  @include grid-span(3,1);

  &-Image-Wrapper {

    background-color: #89806F;
    color: #89806F;
    margin: 0;
    padding: 0;

    &-BannerImage {

      display: flex;
      height: 220px;
      width: 100%;

    }

    &-RectangularImage {

      display: none;

    }
  }

  &-Text-Wrapper {
    color: #070707;

    &-Tag {
      font-family: "Kievit-Book";
      font-size: 24px;
      line-height: 52px;
      text-transform: uppercase;
    }

    &-Title {
      font-family: "Milo-Regular";
      font-size: 50px;
      font-weight: 400;
      line-height: 50px;
      margin-bottom: 30px;
    }

    &-Description {
      font-family: "Kievit-Book";
      font-size: 28px;
      font-weight: 300;
      line-height: 38px;
      margin-bottom: 38px;
    }

  }
}
