.hpContentBanner {
  @extend %clearfix;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  padding-bottom: 10px;

  @include min-screen($tablet-portrait) {
    margin-bottom: 15px;
    padding-bottom: 0px;
  }

  @include min-screen($desktop) {
    margin-bottom: 30px;
  }

  a {
    text-decoration: none;
  }

  &-wrapper {
    img {
      &.loaded {
        -webkit-transition: opacity .3s;
        transition: opacity .3s;
        opacity: 1;
      }

      &.notLoaded {
        opacity: 0;
      }
    }
  }

  // Wrapper around the image tag
  &-imageBox {
    background-color: #89806F;
    height: 220px;
    margin: 0;
    padding: 0;

    @include min-screen(480px) {
      height: 330px;
    }

    @include min-screen(560px) {
      height: 390px;
    }

    @include min-screen($tablet-portrait) {
      height: 320px;
    }

    @include min-screen($desktop) {
      height: 400px;
    }

    // Using responsive rules to apply proper position
    & > img {
      max-width: 100%;
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center 0;
      object-position: center 0;
    }
  }

  // Holds tag, title, desc, location, date
  &-content {
    max-width: 1313px;
    padding: 0 14px;
    margin: 15px auto 0px;
    display: block;
    line-height: normal;
    white-space: normal;
    color: #000;

    @include min-screen($tablet-portrait) {
      max-width: none;
      margin: 0;
      padding: 0;
      position: absolute;
      left: 18%;
      top: 30px;
      color: #FFF;
    }

    @include min-screen($tablet-landscape + 1px) {
      max-width: 1313px;
      width: 100%;
      margin: 0 auto;
      left: 10px;
      right: 0;
    }

    @include min-screen($desktop) {
      top: 60px;
      left: 0;
    }

    a {
      background-color: #FFF;
      color: $WHITE;
      display: block;
      width: 62%;

      &:focus,
      &:hover {
        outline: $focus-color solid 3px;
        box-shadow: 1px 1px 2px 2px $nypl-focus-box-shadow;

        h1 {
          text-decoration: underline;
        }

        @include min-screen($tablet-portrait) {
          .seeMoreLink {
            border: 2px solid $WHITE;
          }
        }
      }

      @include min-screen($tablet-portrait) {
        background-color: #333;
        padding: 15px;
        width: 55%;
      }

      @include min-screen($tablet-landscape + 1px) {
        margin-left: 11.5%;
        width: 40%;
      }
    }

    &-tag {
      color: #070707;
      margin: 15px 0 0 0;
      @include Kievit-Medium;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.05em;

      @include min-screen($tablet-portrait) {
        color: #FFF;
        margin: 0;
      }
    }

    &-title {
      margin: 15px 0 0 0;
      color: #070707;

      @include Milo-Regular;
      font-size: 27px;
      font-weight: 400;

      @include min-screen($desktop) {
        font-size: 36px;
      }

      @include min-screen($tablet-portrait) {
        color: #FFF;
        margin-top: 15px;
      }

      @include min-screen($desktop) {
        font-size: 36px;
        margin-top: 45px;
        max-width: 100%;
      }
    }

    &-details {
      margin: 20px 0 30px 0;
      color: #070707;

      @include min-screen($tablet-portrait) {
        color: #FFF;
        margin: 25px 20px 0 0;
      }
    }

    &-date {
      @include Kievit-Medium;
      font-weight: normal;
      display: block;
      margin: 0 0 7.5px;
      @include min-screen($tablet-portrait) {
        margin-bottom: 12.5px;
      }
    }

    &-location {
      @include Kievit-Book;
      font-weight: normal;
      display: block;
      margin: 7.5px 0 0;
      @include min-screen($tablet-portrait) {
        margin-top: 12.5px;
      }
    }

    &-description {
      @include visuallyHidden;
      margin: 20px 0 30px 0;
      color: #070707;

      & > p {
        @include Kievit-Book;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: .03em;
        line-height: 24px;
      }

      @include min-screen($tablet-portrait) {
        @include displayVisuallyHidden;
        color: #FFF;
        width: auto; // Override displayVisuallyHidden width rule
        margin: 5px 0 0;

        p {
          width: 65%;
        }
      }

      @include min-screen($tablet-landscape + 1px) {
        max-width: 60%;
        p {
          width: 100%;
        }
      }

      @include min-screen($desktop) {
        margin-top: 30px;
        max-width: 300px;
      }
    }

    .seeMoreLink-container {
      position: relative;
      height: 0;

      @include min-screen($tablet-portrait) {
        height: 40px;
      }
    }

    .seeMoreLink {
      top: -4.5rem;
      right: -5.5rem;

      @include Kievit-Medium;
      border: 2px solid $PRIMARY_COLOR;
      border-radius: 27px;
      color: #000;
      background: $WHITE;
      text-decoration: none;
      position: absolute;
      height: 27px;
      padding: 3px 4px;
      text-align: center;
      vertical-align: middle;
      font-size: 1rem;

      @include min-screen(380px) {
        top: -3rem;
        right: -8rem;
      }
      @include min-screen(480px) {
        right: -10rem;
      }
      @include min-screen(600px) {
        right: -12rem;
      }
      @include min-screen(800px) {
        top: -3rem;
        right: -15.5rem;
      }

      @include min-screen($tablet-portrait) {
        border: 2px solid #333;
        background: #333;
        border-radius: 27px;
        color: $WHITE;
        float: right;
        right: auto;
        position: relative;
        top: auto;
      }

      span {
        padding: 0 5px;
        @include visuallyHidden;

        @include min-screen($tablet-portrait) {
          top: -7px;
          @include displayVisuallyHidden;
        }
      }

      svg {
        fill: $PRIMARY_COLOR;
        height: 25px;
        position: relative;
        top: 1px;
        width: 25px;

        @include min-screen($tablet-portrait) {
          fill: $WHITE;
        }
      }
    }
  }
}
