// Singularity testing
#footer {
  @include background-grid($color: blue);

  @media screen and (min-width: 768px) {
    .logoText {
      font-size: 75px;
      top: 15px;
      left: 110px;
    }

    &-content {
      flex-direction: column-reverse;
      margin: 0;
      left: 350px;
      position: absolute;
      align-items: flex-end;
    }

    .socialMedia, .socialmedia {
      width: 170px;
      margin: 55px 50px 0 0;

      a {
        font-size: 45px;
      }
    }

    .footerLinks {
      margin: 0;
      font-size: 13px;
      line-height: 25px;
      text-align: left;

      ul {
        @include displayVisuallyHidden;
      }

      li {
        margin-right: 25px;
        float: left;
        width: 110px;
      }
    }

    .copyright {
      position: absolute;
      left: 110px;
      top: 130px;
      font-size: 11px;
    }
  }
}

.footer {
  @media screen and (min-width: 768px) {
    padding: 15px 0;
  }
}
