.hpBlogs {

	// Mobile View
	&-item {
		@include grid-span(3,1);
    margin-bottom: 15px;
	}

	&-imageBox {
		@include grid-span(1,1);

		.rectangularImage {
			max-width: 100%;
		}
	}

	&-contentBox {
		@include grid-span(2,2);
	}

	&-title {
    font-size: 18px;
    color: #000;
    margin: 0;
    line-height: 1.25em;
	}

	&-description {
		@include visuallyHidden; // hidden on mobile
		color: #000;
	}

	&-authorBox {
		@include visuallyHidden; // hidden on mobile
	}

	// Tablet View

}
