.hpBlogs {
  @include add-grid(3);

	// Mobile View
	&-item {
		@include grid-span(3);
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0px;
    }
	}

	&-imageBox {
		@include grid-span(1,1);

		.rectangularImage {
			max-width: 100%;
		}
	}

	&-contentBox {
		@include grid-span(2,2);
	}

	&-title {
    font-size: 18px;
    color: #333;
    margin: 0;
    line-height: 1.25em;
    @include Milo-Regular;
	}

	&-description {
		@include visuallyHidden; // hidden on mobile
		color: #333;
		@include Kievit-Regular;
	}

	&-authorBox {
		@include visuallyHidden; // hidden on mobile

		&-name, &-title {
			color: #333;
			@include Kievit-Regular;
		}
	}

	// Tablet View (Portrait)
  @include layout-at(6, $tablet-portrait) {
  	&-item {
  		@include grid-span(6, 1);
  	}

  	&-imageBox {
  		@include grid-span(3, 1);
  	}

  	&-contentBox {
  		@include grid-span(3, 4);
  	}

		&-title {
			font-size: 24px;
			line-height: 1.15em;
		}

  	&-authorBox {
  		@include displayVisuallyHidden;
  		margin-top: 10px;

  		&-name {
  			margin: 5px 0 0 0;
  			font-size: 18px;
  		}

  		&-title {
  			margin: 5px 0 0 0;
  			font-size: 13px;
  		}
  	}
  }

  @include layout-at(8, $tablet-landscape) {
  	&-item {
  		@include grid-span(8, 1);
      margin-bottom: 30px;
  	}

  	&-imageBox {
  		@include grid-span(3, 1);
  	}

  	&-contentBox {
  		@include grid-span(5, 4);
  	}

  	&-description {
  		@include displayVisuallyHidden;
  		margin: 10px 0 0 0;
  		font-size: 15px;
  		line-height: 1.35em;
  	}
  }

  @include layout-at(8, $desktop) {

    &-item {
  		@include grid-span(8, 1);
      margin-bottom: 45px;
  	}

    &-imageBox {
      @include grid-span(4, 1);
      text-align: right;

      .rectangularImage {
        max-width: 448px;
      }
    }

    &-contentBox {
      @include grid-span(4, 5);
    }
  }
}
