// No Grid configurations on hpRow
.hpRow {
  // Mobile First
  .leftColumn {
    border-top: 2px solid $PRIMARY_COLOR;
    position: relative;

    & > h2 {
      @include Kievit-Medium;
      color: $PRIMARY_COLOR;
      font-size: 18px;
      font-weight: normal;
      line-height: 1em;
      margin: 15px 0;
      padding: 0;
    }

    .see-more-button {
      position: absolute;
      right: 0;
      top: 8px;
      font-size: 26px;
    }
  }

  // Tablet Portrait and Up
  @include layout-at(7, $tablet-portrait) {
    .leftColumn {
      text-align: right;

      & > h2 {
        padding: 0;
        margin: 8px 0 12px;
      }

      .see-more-button {
        position: relative;
        top: initial;
        font-size: 32px;
      }
    }
  }
}
