
.hpRow {
  // Mobile First Rules
  @include grid-span(3,1);
  border-top: 2px solid $PRIMARY_COLOR;
  min-height: 133px;
  margin-bottom: 10px;
  padding: 0;

  .leftColumn {
    position: relative;

    & > h2 {
      @include Kievit-Medium;
      color: $PRIMARY_COLOR;
      font-size: 18px;
      font-weight: normal;
      line-height: 1em;
      margin: 0;
      padding: 15px 0 0;
    }

    .see-more-button {
      position: absolute;
      right: 0;
      top: 8px;
      font-size: 26px;
    }
  }

  .rightColumn {
    margin-top: 25px;
  }

  // Tablet Portrait
  @include layout-at(('grid': 7, 'gutter': .2), 768px) {
    border-top: none;
    
    .leftColumn {
      @include grid-span(1,1);
      border-top: 2px solid $PRIMARY_COLOR;
      text-align: right;

      & > h2 {
        padding: 10px 0 0;
        top: 10px;
        right: inherit;
      }

      .see-more-button {
        font-size: 32px;
        position: relative;
      }
    }

    .rightColumn {
      margin-top: 0;
      @include grid-span(6,2);
    }
  }

  // Tablet Landscape
  @include layout-at(9, 1024px) {
    @include grid-span(9,1);
    
    .leftColumn {
      @include grid-span(1,1);
    }

    .rightColumn {
      @include grid-span(8,2);
    }
  }
}
