.hpLearn {
  //Mobile
  .hpLearn-wrapper {

    &:nth-child(n + 3) {
      @include visuallyHidden;
    }

    @include grid-span(3, 1);
    margin-bottom: 15px;
  }
    
  img {
    @include grid-span(1, 1);
  }

  h2 {
    @include grid-span(2, 2);
    color: #333;
    font-family:"Kievit-Book";
    font-size: 18px;
  }

  p {
    @include visuallyHidden;
  }

  // Tablet Portrait
  @include layout-at((
    'grid': 3,
    'gutter': .1
    ), 768px) {

    @include grid-span(3);

    .hpLearn-wrapper {
      &:nth-child(3) {
        @include displayVisuallyHidden;
      }

      @include grid-span(1);

      &:first-child {
        @include float-span(1, 'first');
      }
      &:nth-child(3) {
        @include float-span(1, 'last');
      }

      @include layout(1) {
        @include add-gutter(.25);

        img {
          @include grid-span(1, 1);
        }

        h2 {
          @include grid-span(1, 1);
          line-height: 20px;
          font-size: 20px;
          margin-top: 12px;
        }

        p {
          @include visuallyHidden;
        }
      }
    }
  }

  // Tablet Landscape
  @include layout-at((
    'grid': 4,
    'gutter': .07
    ), 1024px) {

    @include grid-span(4);

    .hpLearn-wrapper {
      &:nth-child(4) {
        @include displayVisuallyHidden;
      }

      &:first-child {
        @include float-span(1, 'first');
      }
      &:nth-child(2) {
        @include float-span(1, 'second');
      }
      &:nth-child(3) {
        @include float-span(1, 'third');
      }
      &:nth-child(4) {
        @include float-span(1, 'last');
      }

      @include layout(1) {
        @include add-gutter(.25);

        img {
          @include grid-span(1, 1);
        }

        h2 {
          @include grid-span(1, 1);

          font-size: 20px;
          font-weight: 400;
          line-height: 18px;
          margin-top: 15px;
        }

        p {
          @include visuallyHidden;
        }
      }
    }
  }
}

