// NOTE: Minimal overrides to left column only for this component
// Overrides hpRow style definitions.
.staffPicksRow {
  @include visuallyHidden;

  @include min-screen($tablet-portrait) {
    @include displayVisuallyHidden;
    padding-top: 15px;
    height: 350px;
  }

  @include min-screen($tablet-landscape) {
    padding-top: 30px;
    height: 375px;
  }

  @include min-screen($desktop) {
    height: 520px;
  }

  .leftColumn {
    border-top: 2px solid #FFF;

    > h2 {
      color: #FFF;
    }

    .seeMoreLink {
      fill: #FFF;
      stroke: #FFF;
    }
  }
}

// Component specific mobile first rules
.hpStaffPicks {
  // Tablet Portrait
  @include layout-at(6, $tablet-portrait) {

    &-wrapper {
      &:first-child {
        @include grid-span(3, 1);
      }
      &:last-child {
        @include grid-span(3, 4);
      }

      img {
        max-height: 171px;
      }
    }

    &-pick {
      display: flex;
      height: 200px;
      color: #000;

      .quoteBackground {
        width: 34%;
        height: 196px;
        position: absolute;
        background: #fff;
        z-index: 0;

        // For the down quote arrow
        &:after {
          content: "";
          position: absolute;
          bottom: -20px;
          left: 30px;
          border-width: 20px 20px 0 0;
          border-style: solid;
          border-color: #fff transparent;
          display: block;
          width: 0;
        }
      }

      p {
        z-index: 100;
        margin: 0;
        padding: 0 5px 0 10px;
        align-self: center;
        color: #000;
        font-family: MiloSlabPro;
        font-size: 20px;
        font-weight: 300;
        font-style: italic;
        line-height: 20px;
      }

      a {
        z-index: 101;
        align-self: flex-end;
      }
    }

    &-staff {
      color: #fff;
      margin-top: 15px;

      img {
        height: 60px;
        width: 60px;
        float: left;
      }

      .nypl-icon-logo-mark {
        color: #c51d12;
        font-size: 80px;
        width: 60px;
        margin-right: 5px;
        float: left;

        &:before {
          margin-left: -20px;
        }
      }

      h3 {
        margin: 0;
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 4px;
        font-weight: 400;
        @include Kievit-Book;
      }

      h5 {
        font-size: 15px;
        margin: 0;
        font-weight: 400;
        @include Kievit-Book;
      }
    }
  }

  // Tablet Landscape
  @include layout-at(8, $tablet-landscape) {

    &-pick {
      height: 264px;

      .quoteBackground {
        width: 33%;
        max-width: 470px;
        height: 260px;

        &:after {
          left: 45px;
        }
      }

      p {
        font-size: 27px;
        line-height: 27px;
        padding: 0 25px 0 20px;
      }

      img {
        max-height: 233px;
      }
    }

    &-staff {
      margin-left: 15px;

      h3 {
        padding-top: 20px;
        font-size: 16px;
      }
    }
  }

  // Desktop
  @include layout-at(8, $desktop) {
    &-pick {
      height: 374px;

      .quoteBackground {
        width: 31%;
        max-width: 470px;
        height: 370px;

        &:after {
          border-width: 30px 35px 0px 0px;
          bottom: -30px;
        }
      }

      p {
        font-size: 38px;
        line-height: 38px;
        padding-left: 30px;
      }

      img {
        max-height: 340px;
      }
    }

    &-staff {
      margin-top: 20px;
      margin-left: 5px;

      .nypl-icon-logo-mark {
        font-size: 100px;
        width: 80px;
      }

      h3 {
        padding-top: 34px;
        font-size: 20px;
      }

      h5 {
        font-size: 15px;
      }
    }
  }
}
