@include add-grid(3);
// @include sgs-change('debug', true);

.hpWhatsHappening {
  display: flex;
  flex-direction: column;

  &-section {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    display: inline-block;
    list-style: none;
    color: #000;

    // To hide 
    .eventItem + .eventItem {
      display: none;
    }

    a {
      text-decoration: none;
    }

    > h3 {
      color: $LIBRARY_RED;
      text-transform: uppercase;
      font-size: 12px;
      margin: 0 0 10px 0;
      letter-spacing: 0.05em;
    }

    img {
      @include grid-span(1,1);
    }

    h2 {
      @include grid-span(2,2);
      color: #000;
      line-height: 22px;
      margin: 0;
    }

    p {
      @include grid-span(2,2);
      text-transform: uppercase;
      font-size: 12px;
      margin-top: 10px 0 0 0;
    }
  }

  @include layout-at(('grid': 6), 768px) {
    @include grid-span(6,1);

    &-section {
      display: none;

      > h3 {
        display: none;
      }

      &.active {
        display: block;

        .eventItem {
          display: block;

          &:nth-child(even) {
            @include float-span(3, 'first');
          }
          &:nth-child(odd) {
            @include float-span(3, 'last');
          }
        }
      }
    }
  }

  .titleTabs {
    display: none;
    padding: 0;
    margin: 0 0 20px 0;
    color: #000;
    text-transform: uppercase;

    @include layout-at(('grid': 6), 768px) {
      display: table;

      @include grid-span(6, 1);

      li {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
        padding: 10px 30px;
        font-size: 11px;
        width: 75px;
        font-weight: 700;
        line-height: 14px;
        border-bottom: 2px solid $PRIMARY_COLOR;

        &.active {
          border: 2px solid $PRIMARY_COLOR;
          border-bottom: none;
          color: $PRIMARY_COLOR;
        }
      }
    }
  }
}
