.hpWhatsHappening {
  @include add-grid(1);

  &-section {
    @include grid-span(1);
    margin: 0 0 15px;
    padding: 0;
    list-style: none;
    color: #000;

    // To hide
    .eventItem + .eventItem {
      display: none;
    }

    a {
      text-decoration: none;
    }

    h3 {
      @include Kievit-Medium;
      color: $PRIMARY_COLOR;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      margin: 10px 0;
      letter-spacing: 0.05em;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .eventItem {
      @include Kievit-Medium;
      @include add-grid(3);

      img {
        @include grid-span(1, 1);
      }

      &-title {
        @include grid-span(2, 2);
        color: #000;
        line-height: 22px;
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-weight: normal;
      }

      p {
        @include grid-span(2, 2);
        font-size: 12px;
        line-height: 20px;
        margin: 5px 0 0 0;
      }

      .eventItem-date {
        text-transform: uppercase;
      }

      .eventItem-location {
        margin-top: 0;
      }
    }
  }

  &-titleWrapper {
    display: none;

    @include layout-at(6, $tablet-portrait) {
      display: block;
    }

    @include layout-at(8, $tablet-landscape) {
      @include grid-span(8, 1);
    }
  }

   &-titleWrapper::before {
    @include layout-at(10, $tablet-landscape) {
      @include grid-span(4, 1);

      content: '';
      height: 48px;
      border-bottom: 2px solid $PRIMARY_COLOR;
    }

    @include layout-at(27, $desktop) {
      @include grid-span(14, 1);
    }
  }

  .titleTabs {
    color: #000;
    display: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    @include Kievit-Medium;

    @include layout-at(6, $tablet-portrait) {
      display: table;
      margin: 0 0 20px 0;
      @include grid-span(6);

      li {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
        padding: 10px 26px;
        font-size: 12px;
        width: 75px;
        font-weight: 400;
        line-height: 14px;
        border-bottom: 2px solid $PRIMARY_COLOR;

        &:first-child {
          &.active {
           background-color: #FFF;
         }
        }

        &.active {
          border: 2px solid $PRIMARY_COLOR;
          border-bottom: none;
          color: $PRIMARY_COLOR;
        }
      }
    }

    @include layout-at(8, $tablet-landscape) {
      @include grid-span(5, 4);
    }

    @include layout-at(8, $desktop) {
      @include grid-span(4, 5);
    }
  }

  // Tablet portrait
  @include layout-at(6, $tablet-portrait) {
    &-section {
      min-height: 195px;
      display: none;

      @include grid-span(6);

      h3 {
        display: none;
      }

      &.active {
        display: block;

        .eventItem {
          display: block;
          margin-bottom: 10px;

          &-title {
            font-size: 18px;
          }

          p {
            font-size: 12px;
            line-height: 21px;
          }

          &:nth-child(odd) {
            @include float-span(3, 'first');
          }
          &:nth-child(even) {
            @include float-span(3, 'last');
          }
        }
      }
    }
  }

  // Tablet Landscape
  @include layout-at(8, $tablet-landscape) {
    &-section {
      min-height: 320px;

      &.active {

        .eventItem {
          margin-bottom: 15px;

          p,
          &-title {
            margin: 10px 0 0 0;
          }

          // Styles for all the events.
          &:nth-child(n) {
            @include float-span(5, 'last');

            img {
              @include grid-span(2, 1);
            }

            p,
            .eventItem-title {
              @include grid-span(6, 3);
            }

            .eventItem-title,
            .eventItem-date {
              margin-top: 5px;
              @include grid-span(6, 3);
            }

            .eventItem-location {
              font-size: 12px;
              line-height: 21px;
              margin-top: 0;
            }
          }

          // Target the first child in the list.
          // It's not the correct pseudo name... but it works somehow.
          &:nth-child(1) {
            @include grid-span(3, 1);
            @include add-grid(3);

            p,
            img,
            .eventItem-title {
              @include grid-span(3, 1);
            }

            .eventItem-title {
              font-size: 26px;
              line-height: 28px;
            }

            .eventItem-date {
              font-size: 13px;
              margin-top: 15px;
              line-height: 17px;
              @include grid-span(3, 1);
            }

            .eventItem-location {
              font-size: 13px;
              line-height: 17px;
              margin-top: 5px;
              text-transform: none;
            }
          }
        }
      }
    }
  }

  // Desktop
  @include layout-at(8, $desktop) {
    &-section {
      &.active {
        .eventItem {
          // Styles for all the events.
          &:nth-child(n) {
            @include float-span(4, 'last');

            .eventItem-date {
              font-size: 13px;
              margin-top: 5px;
            }

            .eventItem-location {
              font-size: 12px;
              line-height: 17px;
              margin-top: 0;
              text-transform: none;
              @include grid-span(6, 3);
            }
          }

          // Target the first child in the list.
          // It's not the correct pseudo name... but it works somehow.
          &:nth-child(1) {
            @include grid-span(4, 1);
            @include add-grid(4);

            p,
            img,
            .eventItem-title {
              @include grid-span(4, 1);
            }

            .eventItem-date {
              line-height: 16px;
            }

            .eventItem-location {
              font-size: 14px;
              line-height: 20px;
              @include grid-span(4, 1);
            }
          }
        }
      }
    }
  }
}
