.bookList {
  &.homepageRow {
    background-color: $PRIMARY_COLOR;
    color: #FFFFFF;

    h2 {
      color: #FFFFFF;
    }

    &__Content {
      color: #FFFFFF;
    }

    & .see-more-button {
      border: 2px solid #FFFFFF;
      color: #FFFFFF;
    }
  }

}
