<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%- appTitle %></title>
    <link rel="icon" type="image/png" href="<%- favicon %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="The New York Public Library (NYPL)" />
    <meta name="description" content="The New York Public Library (NYPL) has been an essential provider of free books, information, ideas, and education for all New Yorkers for more than 100 years.">
    <meta name="allow-search" content="yes" />
    <meta property="og:title" content="The New York Public Library">
    <meta property="og:description" content="The New York Public Library (NYPL) has been an essential provider of free books, information, ideas, and education for all New Yorkers for more than 100 years.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://ux-static.nypl.org/images/SASBopeng.jpg">
    <meta property="og:site_name" content="The New York Public Library">
    <meta property="og:url" content="https://www.nypl.org/">
    <meta name="twitter:title" content="The New York Public Library">
    <meta name="twitter:description" content="The New York Public Library is an essential provider of free books, information, ideas, and education.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@nypl">
    <meta name="twitter:creator" content="@nypl">
    <meta name="twitter:image" content="https://ux-static.nypl.org/images/SASBopeng.jpg">

    <!-- Google Optimize Anti-flicker snippet -->
    <script>(function (a, s, y, n, c, h, i, d, e) {
      s.className += ' ' + y; h.start = 1 * new Date;
        h.end = i = function () { s.className = s.className.replace(RegExp(' ?' + y), '') };
        (a[n] = a[n] || []).hide = h; setTimeout(function () { i(); h.end = null }, c); h.timeout = c;
      })(window, document.documentElement, 'async-hide', 'dataLayer', 4000,
        { 'GTM-537Q6Q4': true });</script>
    
    <!-- Google Optimize -->
    <script async src="https://www.googleoptimize.com/optimize.js?id=GTM-537Q6Q4"
      onerror="dataLayer.hide.end && dataLayer.hide.end()"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css" />

  <% if (isProduction) { %>
    <!-- Minified Styles -->
    <link rel="stylesheet" type="text/css" href="/styles.css">
  <% } %>
  </head>
  <body>
    <%- app %>
    <script type='text/javascript'>
      var appEnv = "<%- appEnv %>";
    </script>

  <% if (isProduction) { %>
    <script async src="/bundle.js"></script>
  <% } else { %>
    <script src="http://localhost:3000/bundle.js"></script>
  <% } %>
    
  <!-- OptinMonster -->
    <script src="https://assets.nypl.org/js/advocacy.js"></script>
  <!-- / OptinMonster -->
  </body>
</html>
